.promo {
	width: 100%;
	max-width: 1280px;
	margin-top: 20px;
	display: flex;
	justify-content: center;
}

.promo__bg {
	width: 100%;
	max-width: 1280px;
	margin: 0 40px;
	box-sizing: border-box;
	background: #272727;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.promo__title {
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	line-height: 116%;
	text-align: center;
	letter-spacing: -0.04em;
	color: #ffffff;
	margin: 0;
	width: 100%;
	max-width: 730px;
	padding: 160px 0 151px;
}

@media screen and (max-width: 768px) {
	.promo {
		max-width: 768px;
	}
	.promo__bg {
		max-width: 768px;
		margin: 0 20px;
	}
	.promo__title {
		padding: 350px 24px 314px;
		font-size: 40px;
		line-height: 130%;
		max-width: 680px;
	}
}

@media screen and (max-width: 380px) {
	.promo {
		max-width: 380px;
	}
	.promo__bg {
		max-width: 380px;
		margin: 0 15px;
	}
	.promo__title {
		padding: 220px 14px 212px;
		font-size: 29px;
		line-height: 128%;
		max-width: 292px;
	}
}

@media screen and (max-width: 320px) {
	.promo {
		max-width: 320px;
	}
	.promo__bg {
		max-width: 320px;
		margin: 0 14px;
	}
}
